<div class="container"><h1>Add a movie</h1></div>

<%= simple_form_for([@list, @bookmark])  do |f| %>
<%= f.association :movie %>
<%= f.input :comment %>
  <%= f.submit %>
<% end %>

<p><<<%= link_to "Back to list", list_path(@list), class: "btn btn-flat" %></p>
